/* .change {
    width: 100%;
    height: 500px;
    background-color: black;
    background-size: cover;
    text-align: center;
    font-size: 19px;
    background-image: url("images/couv.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

} */

/* .change {

    background: url("images/couv.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
} */

h1 {
    color: transparent;
    font-size: 80px;
    
}

p {

    font-size: 18px;
}


#flow {

    background-color: rgba(248, 242, 233, 0.767);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: contain;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    float: right;

  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  #mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #about {
    top: 20px;
    background-color: #4CAF50;
  }
  
  #blog {
    top: 80px;
    background-color: #2196F3;
  }
  
  #projects {
    top: 140px;
    background-color: #f44336;
  }
  
  #contact {
    top: 200px;
    background-color: #555
  }